/* KONSTRUCT-CSS [ CORE > RESET ] ########################################### */

* {
  font-family: var(--family-primary);
  font-size: var(--size-normal);
  line-height: var(--lineheight-normal);
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 0.875em;
  line-height: 1.45;
  color: var(--color-copy);
}

html,
body {
  min-height: 100vh;
  background-color: var(--color-body);
}

body {
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (min-width: 80em) {
  html {
    font-size: calc(1em + 0.25 * (100vw - 80em) / 40); /* 1 */
    font-size: -webkit-calc(100% + 0.25 * (100vw - 8000%) / 40); /* 2 */
    font-size: -ms-calc(1em + 0.25 * (100vw - 80em) / 40); /* 3 */
  }
}

@media screen and (min-width: 120em) {
  html {
    font-size: 1.125em;
  }
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span,
em,
small,
strong,
sub,
sup,
mark,
del,
ins,
strike,
abbr,
dfn,
blockquote,
q,
cite,
code,
pre,
ol,
ul,
li,
dl,
dt,
dd,
div,
section,
article,
main,
aside,
nav,
header,
hgroup,
footer,
img,
figure,
figcaption,
address,
time,
audio,
video,
canvas,
iframe,
details,
summary,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  font-size: inherit;
  margin: 0;
  padding: 0;
  border: 0;
}

article,
aside,
footer,
header,
nav,
section,
main {
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img,
video {
  max-width: 100%;
}

img {
  border-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::after,
blockquote::before,
q::after,
q::before {
  content: "";
  content: none;
}

[hidden] {
  display: none !important;
}

[disabled] {
  cursor: not-allowed;
}

:focus:not(:focus-visible) {
  outline: none;
}

/* END OF FILE ############################################################## */
