/* KONSTRUCT [ CEMENT > CORE ] ############################################## */

/* 1. ROOT LEVEL VARIABLES ++++++++++++++++++++++++++++++++++++++++++++++++++ */

:root {

  /* 1.1. COLOR VARIABLES ................................................... */

  --color-white-rgb: 255, 255, 255;
  --color-lighter-rgb: 245, 249, 250;
  --color-light-rgb: 230, 231, 232;
  --color-rgb: 133, 136, 143;
  --color-dark-rgb: 71, 79, 95;
  --color-darker-rgb: 10, 16, 30;
  --color-black-rgb: 0, 0, 0;
  --color-white: rgba(var(--color-white-rgb), 1);
  --color-lighter: rgba(var(--color-lighter-rgb), 1);
  --color-light: rgba(var(--color-light-rgb), 1);
  --color: rgba(var(--color-rgb), 1);
  --color-dark: rgba(var(--color-dark-rgb), 1);
  --color-darker: rgba(var(--color-darker-rgb), 1);
  --color-black: rgba(var(--color-black-rgb), 1);

  --color-blue: rgba(var(--color-blue-rgb), 1);
  --color-blue-rgb: 66, 175, 227;
  --color-blue-light: 160, 215, 241;
  --color-blue-dark: 20,53,69;

  --color-orange: rgba(var(--color-orange-rgb), 1);
  --color-orange-rgb: 246, 139, 57;
  --color-orange-light: 250, 197, 156;
  --color-orange-dark: 74, 42, 18;

  --color-green: rgba(var(--color-green-rgb), 1);
  --color-green-rgb: 93, 226, 165;
  --color-green-light: 174, 240, 210 ;
  --color-green-dark: 28, 68, 50;

  --color-red: rgba(var(--color-red-rgb), 1);
  --color-red-rgb: 237, 108, 99;
  --color-red-light: 246, 181, 177;
  --color-red-dark: 72, 33, 30;
  
  --color-primary-rgb: 61, 68, 136;
  --color-secondary-rgb: 24, 34, 59;
  --color-primary: rgba(var(--color-primary-rgb), 1);
  --color-secondary: rgba(var(--color-secondary-rgb), 1);
  --color-accent: var(--color-blue);
  --color-facebook: #3b5998;
  --color-linkedin: #0077b5;
  --color-google: #dd4b39;
  --color-body: var(--color-lighter);
  --color-headings: var(--color-darker);
  --color-sub-headings: var(--color-dark);
  --color-copy: var(--color-dark);
  --color-sub-copy: var(--color);

  --color-link: var(--color-blue);
  --color-link-hover: rgba(var(--color-blue-link));

  /* 1.1. END ............................................................... */

  /* 1.2. FONT VARIABLES .................................................... */

  --family-primary: "Roboto", helvetica, arial;
  --family-secondary: "Gilroy", helvetica, arial;

  /* 1.2. END ............................................................... */

  /* 1.3. FONT SIZE VARIABLES ............................................... */

  --size-xxlarge: 3.157rem;
  --size-xlarge: 2.369rem;
  --size-large: 1.777rem;
  --size-medium: 1.333rem;
  --size-normal: 1rem;
  --size-small: 0.75rem;

  /* 1.3. END ............................................................... */

  /* 1.4. LINE HEIGHT VARIABLES ............................................. */

  --lineheight-xxlarge: 3.5rem;
  --lineheight-xlarge: 2.7rem;
  --lineheight-large: 2rem;
  --lineheight-medium: 1.7rem;
  --lineheight-normal: 1.4rem;
  --lineheight-small: 0.9rem;

  /* 1.4. END ............................................................... */

  /* 1.5. WEIGHT VARIABLES .................................................. */

  --weight-thin: 100;
  --weight-light: 300;
  --weight-regular: 400;
  --weight-medium: 500;
  --weight-semiBold: 600;
  --weight-bold: 700;
  --weight-heavy: 900;

  /* 1.5. END ............................................................... */

  /* 1.6. LAYER VARIABLES ................................................... */

  --layer-1: 10;
  --layer-2: 20;
  --layer-3: 30;
  --layer-4: 40;
  --layer-5: 50;
  --layer-6: 60;
  --layer-7: 70;
  --layer-8: 80;
  --layer-9: 90;
  --layer-10: 100;

  /* 1.6. END ............................................................... */

  /* 1.7. GUTTER VARIABLES .................................................. */

  --gutter: 20px;
  --gutter-small: 10px;
  --gutter-medium: 40px;
  --gutter-large: 80px;
  --gutter-jumbo: 120px;

  /* 1.7. END ............................................................... */

  /* 1.8. RADIUS VARIABLES .................................................. */

  --radius-small: 5px;
  --radius-medium: 10px;
  --radius-large: 20px;

  /* 1.8. END ............................................................... */

  /* 1.9. TRANSITION VARIABLES .............................................. */

  --transition: 0.5s;
  --transition-slow: 1s;
  --transition-fast: 0.3s;

  /* 1.9. END ............................................................... */

  /* 1.10. TRANSITION VARIABLES ............................................. */

  --shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);
  --shadow-text: 0 0 10px rgba(0, 0, 0, 0.85);
  --shadow-text-light: 0 0 5px rgba(0, 0, 0, 0.25);

  /* 1.10. END .............................................................. */

  /* 1.11. FORM VARIABLES ................................................... */

  --label-color: var(--color);
  --field-color: var(--color-darker);
  --field-color-focus: var(--color-darker);
  --field-color-disabled: var(--color);
  --field-color-placeholder: var(--color);
  --field-border-width: 1px;
  --field-border-color: var(--color);
  --field-border-error-color: var(--color-red);
  --field-border-focus-color: var(--color-dark);
  --field-border-disabled-color: var(--color-light);
  --field-disc-selected-color: var(--color-blue);

  /* 1.11. END .............................................................. */

  /* 1.12. MEDIA QUERY VARIABLES ............................................ */

  --screen-small: '(max-width: 480px)';
  --screen-medium: '(min-width: 481px) and (max-width: 1023px)';
  --screen-large: '(min-width: 1024px) and (max-width: 1440px)';
  --screen-xlarge: '(min-width: 1441px)';

  /* 1.12. END .............................................................. */

}

/* 1. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* 2. GLOBAL OVERRIDES ++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

* {
  font-family: var(--family-primary);
  font-size: var(--size-normal);
  line-height: var(--lineheight-normal);
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 0.875em;
  line-height: 1.45;
  color: var(--color-copy);
}

html,
body {
  min-height: 100vh;
  background-color: var(--color-body);
}

body {
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (min-width: 80em) {
  html {
    font-size: calc(1em + 0.25 * (100vw - 80em) / 40); /* 1 */
    font-size: -webkit-calc(100% + 0.25 * (100vw - 8000%) / 40); /* 2 */
    font-size: -ms-calc(1em + 0.25 * (100vw - 80em) / 40); /* 3 */
  }
}

@media screen and (min-width: 120em) {
  html {
    font-size: 1.125em;
  }
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span,
em,
small,
strong,
sub,
sup,
mark,
del,
ins,
strike,
abbr,
dfn,
blockquote,
q,
cite,
code,
pre,
ol,
ul,
li,
dl,
dt,
dd,
div,
section,
article,
main,
aside,
nav,
header,
hgroup,
footer,
img,
figure,
figcaption,
address,
time,
audio,
video,
canvas,
iframe,
details,
summary,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  font-size: inherit;
  margin: 0;
  padding: 0;
  border: 0;
}

article,
aside,
footer,
header,
nav,
section,
main {
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img,
video {
  max-width: 100%;
}

img {
  border-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::after,
blockquote::before,
q::after,
q::before {
  content: "";
  content: none;
}

[hidden] {
  display: none !important;
}

[disabled] {
  cursor: not-allowed;
}

:focus:not(:focus-visible) {
  outline: none;
}

/* 2. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* 3. COPY & TEXT ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++* */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: var(--gutter);
}

h1,
h2,
h3 {
  color: var(--color-headings);
}

h4,
h5,
h6 {
  color: var(--color-sub-headings);
}

h1 {
  font-family: var(--family-secondary);
  font-weight: var(--weight-bold);
  margin-bottom: var(--gutter-medium);
  font-size: var(--size-xxlarge);
  line-height: var(--lineheight-xxlarge);

}

h2 {
  font-family: var(--family-secondary);
  font-weight: var(--weight-bold);
  margin-top: 0;
  margin-bottom: var(--gutter);
  font-size: var(--size-xlarge);
  line-height: var(--lineheight-xlarge);

}

h3 {
  font-size: var(--size-large);
  line-height: var(--lineheight-large);
}

h4 {
  font-size: var(--size-normal);
  line-height: var(--lineheight-normal);
}

h3,
h4 {
  font-family: var(--family-primary);
  font-weight: var(--weight-regular);
}

h5,
h6 {
  font-family: var(--family-secondary);
  font-weight: var(--weight-bold);
  font-size: var(--size-small);
  line-height: var(--lineheight-small);
}

p {
  color: var(--color-copy);
}

p:not(:last-child) {
  margin-bottom: var(--gutter);
}

small {
  font-size: var(--size-small);
  line-height: var(--lineheight-small);
  color: var(--color-sub-copy);
}

ol {
  counter-reset: my-awesome-counter;
}

ul,
ol {
  margin-left: var(--gutter);
}
ul:not(:last-child),
ol:not(:last-child) {
  margin-bottom: var(--gutter);
}

ol li {
  counter-increment: my-awesome-counter;
  position: relative;
  padding-left: var(--gutter);
}

ol li::before {
  position: absolute;
  left: 0;
  content: counter(my-awesome-counter) ".";
  color: var(--color-normal);
}

a,
a:visited {
  color: inherit;
  color: var(--color-link);
  text-decoration: none;
  transition: var(--transition);
}

a:hover {
  cursor: pointer;
  color: var(--color-link-hover);
}

code {
  display: inline-block;
  background: var(--color-light);
  color: var(--color-dark);
  padding: 2px var(--gutter-small);
  border-radius: var(--radius-small);
}

/* 3. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* 4. FORMS +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* 4.1. LABEL ............................................................... */

label {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: var(--label-color);
  font-weight: var(--weight-bold);
  font-size: var(--size-small);
  line-height: var(--lineheight-small-lineHeight);
  margin: 0;
}

label input {
  flex: none;
  width: fit-content;
  margin-right: var(--gutter-small);
}

/* 4.1. END ................................................................. */

/* 4.2. TEXT INPUT .......................................................... */

input[type=text],
input[type=password],
input[type=email],
input[type=tel],
input[type=url],
input[type=file],
input[type=image],
input[type=date],
input[type=time],
input[type=month],
input[type=week],
input[type=datetime-local],
input[type=search],
input[type=number] {
  flex: 1;
  display: block;
  background: none;
  width: 100%;
  padding: var(--gutter-small);
  outline: none;
  border: solid var(--field-border-width) var(--field-border-color);
  border-radius: var(--radius-small);
  transition: var(--transition);
  color: var(--field-color);
  font-weight: var(--weight-bold);

}

input[type=color] {
  width: 40px;
  height: 40px;
  padding: 0;
  border: solid var(--field-border-width) var(--field-border-color);
  border-radius: 100%;
}

input.hasError,
select.hasError {
  border-color: var(--field-border-error-color);
  box-shadow: 0 0 10px rgba(var(--color-red-rgb), 0.4);
}

input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: var(--color-dark);
}

input::-moz-placeholder { /* Firefox 19+ */
  color: var(--color-dark);
}

input:-ms-input-placeholder { /* IE 10+ */
  color: var(--color-dark);
}

input:-moz-placeholder { /* Firefox 18- */
  color: var(--color-dark);
}

input:hover {
  border-color: var(--field-border-color);
}

input:focus {
  border-color: var(--color-border-focus-color);
  color: var(--field-color-focus);
  box-shadow: 0 0 10px rgba(var(--color-border-focus-color), 1);
}

input:disabled,
select:disabled {
  border-color: var(--color-light);
  color: var(--color-dark);
}

input:disabled:hover,
select:disabled:hover {
  border-color: var(--color-light);
  color: var(--color);
  cursor: not-allowed;
}

/* 4.2. END ................................................................. */

/* 4.3. TEXTAREA ............................................................ */

textarea {
  flex: 1;
  display: block;
  background: none;
  width: 100%;
  min-height: 200px;
  padding: var(--gutter-small);
  outline: none;
  border: solid var(--field-border-width) var(--field-border-color);
  border-radius: var(--radius-small);
  transition: var(--transition);
  color: var(--field-color);
  font-weight: var(--weight-regular);
}

/* 4.3. END ................................................................. */

/* 4.4. RADIO ............................................................... */

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  input[type='radio'],
  input[type='checkbox'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border: solid var(--field-border-width) var(--field-border-color);
    background: var(--color-white);
    transition: var(--transition-fast);
  }

  input[type='checkbox'] {
    border-radius: var(--radius-small);
  }

  input[type='radio']::after,
  input[type='checkbox']::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    content: '';
    width: 10px;
    height: 10px;
    background: var(--color-white);
    border-radius: 100%;
    transition: var(--transition-fast);
  }

  input[type='radio']:checked,
  input[type='checkbox']:checked {
    border-color: var(--field-disc-selected-color);
  }

  input[type='radio']:checked::after,
  input[type='checkbox']:checked::after {
    background: var(--field-disc-selected-color);
  }

  input[type='radio']:hover,
  input[type='checkbox']:hover {
    border-color: var(--field-border-focus-color);
    cursor: pointer;
  }

  input[type='radio']:hover::after,
  input[type='checkbox']:hover::after {
    transform: translate3d(-50%, -50%, 0) scale(1.15);
  }

  input[type='radio']:disabled,
  input[type='checkbox']:disabled {
    border-color: var(--field-border-disabled-color);
  }

  input[type='radio']:disabled:hover,
  input[type='checkbox']:disabled:hover {
    cursor: not-allowed;
    background: var(--color-white);
  }

  input[type='radio']:checked:disabled::after,
  input[type='checkbox']:checked:disabled::after {
    background: var(--field-border-disabled-color);
  }

  input[type='radio'].hasError,
  input[type='checkbox'].hasError {
    border-color: var(--field-border-error-color);
  }

  input[type='radio'].hasError:checked::after,
  input[type='checkbox'].hasError:checked::after {
    background: var(--field-border-error-color);
  }
}

/* 4.4. END ................................................................. */

/* 4.5. SELECT .............................................................. */

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    flex: 1;
    display: block;
    background: none;
    width: 100%;
    padding: var(--gutter-small);
    outline: none;
    border: solid var(--field-border-width) var(--field-border-color);
    border-radius: var(--radius-small);
    transition: var(--transition);
    color: var(--field-color);
    font-weight: var(--weight-bold);
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat, repeat;
    /* arrow icon position (1em from the right, 50% vertical) , then gradient position */
    background-position: right 0.7em top 50%, 0 0;
    /* icon size, then gradient */
    background-size: 0.65em auto, 100%;
  }

  select:hover {
    cursor: pointer;
    border-color: var(--field-border-focus-color);
  }
}

/* 4.5. END ................................................................. */

/* 4. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* END OF FILE ############################################################## */
